<div class="user_header">
    <h1>Patient Profile <%= @patient.id %></h1>
    <%= button_to "Sign Out", destroy_patient_session_path, method: :delete %>
</div>
<h2><%= @patient.first_name %></h2>
<h2><%= @patient.last_name %></h2>

<%= render 'partials/filter_form', patient: patient_path %>
<%= render 'partials/doctors', doctors: @doctors %>

<h2>Recommendations:</h2>

<% @appointments.each do |appointment| %>
    <p><%= appointment.recommendation %></p>
    <p><%= appointment.appointment_date %></p>
    <p><%= appointment.doctor.first_name %></p>
    <p><%= appointment.doctor.last_name %></p>
    <p><%= appointment.doctor.category.name %></p>
    <hr>
<% end %>