<h1>Doctor Profile <%= @doctor.id %></h1>
<h2><%= @doctor.first_name %></h2>
<h2><%= @doctor.last_name %></h2>
<h4>Category: <%= @doctor.category.name %></h4>

<% @appointments.each do |appointment| %>
    <hr>
    <%= appointment.patient.first_name.presence || "No first name" %>
    <%= appointment.patient.last_name.presence || "No last name" %>
    <br>
    <%= appointment.recommendation.presence || "No recommendation" %>
    <br>
    <%= appointment.appointment_date ? appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") : "No date" %>
    <br>
    <%= link_to "Add_recommendation", edit_appointment_path(appointment.id) %>
    <br>
<% end %>